.line {
    height: 16px;
    border-left: 1px solid rgba(174, 182, 206, 0.2)
}

.myBtn {
    width: 155px;
    height: 48px;
    padding: 5px 15px;
    font-size: 14px;
    background: transparent;
    border: none;
    cursor: pointer;
}
