.component_taboos {
    width: 1859px;
    height: 72px;
    overflow: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #AEB6CE33;
}

.button_container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.my_container {
    display: flex;
}

img {
    width: 25px;
    height: 15px;
    padding: 0px 5px;
    color: rgba(127, 133, 141, 1);
}

.text {
    margin-left: 10px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.1px;
    text-align: left;
    color: rgba(127, 133, 141, 1);
}

.button_closing {
    width: 15px;
    height: 15px;
    margin-left: 5px;
    border-radius: 15px;
    border-color: red;
    background-image: url('../../../pictures/icon/vector.png');
    background-repeat: round;
    background-color: white;
    cursor: pointer;
    display: none;
}

.button_container:hover
.button_closing {
    display: block;
}
